@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgb(188, 243, 177);
}

.wrapper {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: block;
    margin: 2px;
    box-sizing: border-box;
    overflow: hidden;
}

#dados-pessoais {
    width: 80%;
    margin-left: 2px;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    display: block;
    margin: 2px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Header */

header {
    position: relative;
    height: 80px;
    padding: 15px;
    border-bottom: 2px solid rgb(30, 58, 218);
    line-height: 110px;
    background-color: rgb(207, 90, 178);
}

/* Main */

main {
    display: block;
    width: 100vw;
    position: relative;
}

#dados-pessoais {
    padding: 1em;
    position: relative;
}

#dados-pessoais figure figcaption {
    margin: 10px;
    color: rgb(223, 28, 181);
}

.foto {
    width: 180px;
    display: block;
    float: left;
    margin: 10px;
}

.foto:after {
    display: block;
    clear: both;
    content: "";
}


#dados-curriculo {
    border: 1px solid #111;
    padding: 0.5em;
    border-radius: 6px 3px;
    background-color: rgb(253, 223, 248);
    box-shadow: 2px 1px 2px rgb(206, 40, 212);
}

.lista-curriculo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.lista-curriculo ul,
.lista-curriculo ol {
    display: inline-block;
    margin: 15px;
    width: 30%;
}





.logo-topo-img {
    display: block;
    float: left;
    width: 100px;
    margin: 0px;
}

#logo {
    display: block;
    border-bottom: 2px solid #111;
    height: 40px;
    line-height: 20px;
}

#logo-topo-container {
    width: 0px;
}